/* General Styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
    text-align: center;
}

header {
    background-color: #fccde9;
    border-radius: 10px;
    border-color: #000000;
    border-width: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-family: 'Droid Sans', Times, serif;
    font-size: 36px;
    color: #ff00ae;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(255, 0, 174, 0.514);
    text-align: left;
    display: inline-block; /* ทำให้ขนาดของเส้นขอบพอดีกับข้อความ */
    transition: transform 0.3s, box-shadow 0.3s;
}

header h1:hover {
    transform: scale(1.05); /* ขยายขนาดเล็กน้อยเมื่อวางเมาส์ */
    box-shadow: 0 6px 8px rgb(255, 0, 157); /* เพิ่มเงาเมื่อวางเมาส์ */
}
nav {
    background-color: #fccde9;
    padding: 10px 0;  
    border-radius: 10px;
    border-color: #000000;
    border-width: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}   
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #795548;
    border-color: #000000;
    border-width: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border-radius: 10px;
}

nav ul li a:hover {
    color: #ff00e1;
    transform: scale(1.1);
}
.menu-toggle {
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    margin-right: 20px;
}
.hero {
    padding: 60px 0;
    text-align: center;
    color: #333;
}
 
.hero .btn {
    font-family: 'Droid Sans', Times, serif;
    background-color: #ffffff;
    color: #ff00dd;
    padding: 12px 25px;
    text-decoration: none;
    border-color: #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    display: inline-block;
    margin-top: 20px;
}

.hero .btn:hover {
    background-color: #ff8ff2;
    color: #000000;
    border-color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.hero .btn:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.search-form {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
    align-items: center;
}

.search-form button {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #795548;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-form button:hover {
    color: #ffffff;
    background-color: #ff8ff2;
}
.products {
    padding: 60px 0;
    text-align: center;
    color: #000000;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #fff;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.381);
    flex-basis: calc(33.333% - 40px);
    padding: 20px;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    flex-basis: 100%;
    border-radius: 5px;
    border-color: #000000;
    border-width: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-item button {
    background-color: #ffffff8b;
    color: #ff02ea;
    padding: 10px 20px;
    border-color: #ff02ea;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.product-item button:hover {
    background-color: #ff44d6;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.product-item button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.customer-reviews {
    background-color: #d8d8d830;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
}

.customer-reviews h2 {
    text-align: center;
    color: #000000;
}

.review {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #bdbdbd2b;
}

.review p {
    font-style: italic;
    color: #ff00c891;
    font-size: 18px;
    border-radius: 10px;
    border-color: #000000;
    border-width: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.review p:hover {
    color: #ff00d0;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);

}
.review span {
    display: block;
    text-align: right;
    color: #000000;
    font-weight: bold;
    font-size: 0.9em;
}
.share-button {
    text-align: center;
    margin-top: 20px;

}
.contact {
    padding: 60px 0;
    text-align: center; 
    color: #333;
}

.contact-details p {
    margin: 10px 0;
}
.cart {
    padding: 60px 0;
    text-align: center;
    color: #333;
}

.cart button {
    background-color: #ffffff; 
    color: #ff00dd;
    padding: 12px 25px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin: 10px;
}

.cart button:hover {
    background-color: #ff99f5; 
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.cart button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.checkout {
    padding: 60px 0;
    text-align: center;
    color: #333;
}

.checkout button {
    background-color: #ffffff;
    color: #ff00dd;
    padding: 12px 25px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 20px;
}

.checkout button:hover {
    background-color: #ff99f5;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.checkout button:active {
    transform: translateY(0);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #333;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    margin-top: auto;
}

/* การตั้งค่าทั่วไปสำหรับการ์ดสินค้า */
.product-card {
    width: 100%;
    max-width: 300px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

/* Media Queries for responsive design */
@media (max-width: 1024px ) {
    #review-text, #review-author {
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border-color: #000000;
        border-width: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 768px) {
    #review-text, #review-author {
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border-color: #000000;
        border-width: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 480px) {
    #review-text, #review-author {
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border-color: #000000;
        border-width: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 320px) {
    #review-text, #review-author {
        width: 90%;
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border-color: #000000;
        border-width: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}